/**
 * Corporate identity colors - high contrast
 */

$color-text: #333333;
$color-title: #D90B0B;
$color-link: #055A7F;
$color-button: #FFFFFF;
$color-footer: #FFFFFF;

$bg-color-main: #F6F6F6;
$bg-color-header: #FFFFFF;
$bg-color-footer: #444444;
$bg-button: $color-link;
$bg-button-contrast: $bg-button;
